* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.calculator {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "display display display display"
        "clear . . divide"
        "seven eight nine multiply"
        "four five six subtract"
        "one two three add"
        "zero zero . equal";
    gap: 10px 10px;
    background-color: black;
    border-radius: 25px;
    padding: 10px;
}

#display {
    grid-area: display;
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: flex-end;
    height: 150px;
    color: white;
    font-size: 5em;
    padding: 0px 5px 0px 5px;
}

.btns {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.5em;
}

.nums {
    background-color: #333;
    color: white;
}

.ops {
    background-color: orange;
    color: white;
}

#zero {
    grid-area: zero;
    width: 110px;
    border-top-left-radius: 25px; 
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#equal {
    grid-area: equal;
}

#add {
    grid-area: add;
}

#subtract {
    grid-area: subtract;
}

#multiply {
    grid-area: multiply;
}

#divide {
    grid-area: divide;
}

#clear {
    grid-area: clear;
    background-color: #ccc;
}

/* Tablet responsive */
@media screen and (min-width: 768px) and (max-width: 820px) {
    body {
        margin: 0px;
    }
    
    .calculator {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px 32.5px;
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
    }

    #display {
        height: 225px;
        font-size: 8em;
        padding: 0px 10px 0px 10px;
    }

    .btns {
        justify-self: center;
        align-self: center;
        width: 160px;
        height: 110px;
        border-top-left-radius: 25px; 
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        font-size: 3em;
    }

    #zero {
        width: 355px;
    }
}

/* Mobile responsive */
@media screen and (min-width: 320px) and (max-width: 414px) {
    body {
        margin: 0px;
    }
    
    .calculator {
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
    }

    #display {
        padding: 0px 20px 0px 20px;
    }

    .btns {
        width: 70px;
        height: 70px;
    }

    #zero {
        width: 160px;
    }
}